:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: #2a2a2a;
  background-image: url(https://www.freepik.com/free-ai-image/thoroughbred-horse-grazing-rural-meadow-beauty-generated-by-ai_42310189.htm#query=horse&position=38&from_view=keyword&track=ais_hybrid&uuid=83b5683a-0599-4e15-a817-0be19b0f03e2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}